<div id="banner-text-container">
    <div class="uk-container uk-container-xsmall">
        <div class="ti-banner-text-wrapper">
            {{- $img := .Page.Resources.Get .image -}}
            {{- if $img -}}
                <img src="{{ $img.RelPermalink }}" alt="Banner Image" class="ti-banner-bg">
            {{- else -}}
                {{- $imgAsset := resources.Get (printf "images/%s" .image) -}}
                {{- if $imgAsset -}}
                    <img src="{{ $imgAsset.RelPermalink }}" alt="Banner Image" class="ti-banner-bg">
                {{- end -}}
            {{- end -}}

            <div class="ti-banner-overlay"
                 style="--banner-align: {{ .align }};
                        --banner-valign: {{ .valign }};
                        --banner-padding: {{ .padding }};
                        --banner-title-gradient-start: {{ .titleGradientStart }};
                        --banner-title-gradient-end: {{ .titleGradientEnd }};
                        --banner-subtitle-color: {{ .subtitleColor }};
                        --banner-title-size: {{ .titleSize }};
                        --banner-subtitle-size: {{ .subtitleSize }};
                        --banner-max-width: {{ .maxWidth }};
                        {{ if eq .italic "true" }}--banner-font-style: italic;{{ else }}--banner-font-style: normal;{{ end }}">
                {{- if .title -}}
                <div class="ti-banner-title">{{ .title | safeHTML }}</div>
                {{- end -}}
                {{- if .subtitle -}}
                <div class="ti-banner-subtitle">{{ .subtitle | safeHTML }}</div>
                {{- end -}}
            </div>
        </div>
    </div>
</div>
